.profile-container {
    position: absolute; /* Позволяет позиционировать элемент относительно ближайшего позиционированного предка */
    top: 20px; /* Отступ сверху */
    right: 20px; /* Отступ справа */
    z-index: 1000; /* Убедитесь, что элемент находится выше других элементов */
    
  }