.item {
  position: absolute; 
  width: 100%; 
  max-width: 400px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  border-radius: 8px; 
  background-color: white; 
  transition: all 0.3s ease; 
}
  
  .item.dragging {
    opacity: 0.5;
  }
  
  .item.expanded {
    width: 400px;
  }
  
  .item.collapsed {
    width: 100px;
  }
  
  .item-header {
    padding: 10px;
    cursor: pointer; 
    background-color: #f0f0f0; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
  }
  
  .item-content {
    padding: 10px; 
  }
  
  .item-content-header {
    display: flex;
    justify-content: space-between;
  }
  
  .item-content-body {
    display: flex;
    flex-direction: column; 
  }
  .item-title {
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal;
    text-decoration: none;
    
  }
  .team {
    white-space: nowrap;
    overflow: hidden;
    width: 57px;
    text-decoration: none;
  }


  .item-content-body {
    display: flex;
    flex-direction: column; 
  }
  
  .machine-selection-container {
    display: flex;
    justify-content: flex-start; 
    width: 100%; 
}

.machine-selection-container > div {
    flex: 1; 
    margin: 0 ; 
}